<!-- Update Profile -->
<div class="row">
	<div class="span4">
	</div>
	<%= render 'profile_top_center' %>
	<div clsas="span4">
	</div>
</div>
<hr class="bs-docs-separator"></hr>


<%= render 'form' %>
