<h2>Contact Us</h2>

<blockquote>
<p>
	Feel free to send an e-mail to
	<a href="mailto:voice.developers@gmail.com">voice.developers@gmail.com</a>
	for any of your questions related to how to use the website, 
	any abuse or inappropriate content you want to report and any feedback that
	could be useful for us to improve the application. You can be sure that your e-mails will be read and answered immediately.
</p>
<small>
	Voice Team
</small>
</blockquote>