<% if logged_in? %>
	<div class="row">
        <div class="span6">
          <h2>Activity Feed</h2>
          	<!-- RAISE YOUR VOICE INPUT FIELD -->
            <form class="form-inline">
              <div class="input-append">
                <input class="span4" id="appendedInputButton" size="16" type="text" placeholder="Raise Your Voice!"><button class="btn" type="button">Go!</button>
              </div>
            </form>
          <div style="height: 75px" id="activity_feed_item">
            <!-- <p> -->
              <a href="#">
                <img align="left" src="http://b.vimeocdn.com/ps/360/901/3609013_75.jpg" class="img-circle">
              </a>
              <a href="#">Johnie Walker</a> created an Interest page named <a href="#">Satranc Sevenler</a>.
            <!-- </p> -->
          </div>
          <hr class="bs-docs-separator">
          <div style="height: 75px" id="activity_feed_item">
            <p>
              <a href="#">
                <img align="left" src="http://im.rediff.com/us/pix/04image01.jpg" class="img-circle">
              </a>
              <a href="#">Jack Daniels</a> posted something in <a href="#">Galatasaray Fanlari</a>.
            </p>
          </div>
          <hr class="bs-docs-separator">
          <div style="height: 75px" id="activity_feed_item">
            <p>
              <a href="#">
                <img align="left" src="http://im.rediff.com/news/2010/mar/04spl4.jpg" class="img-circle">
              </a>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div>
          <hr class="bs-docs-separator">
          <div style="height: 75px" id="activity_feed_item">
            <p>
              <a href="#">
                <img align="left" src="http://www.medialifemagazine.com/wp-content/uploads/2012/09/blue-bloods-c-75x75.jpg" class="img-circle">
              </a>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div>
          <hr class="bs-docs-separator">
          <div style="height: 75px" id="activity_feed_item">
            <p>
              <a href="#">
                <img align="left" src="http://www.medialifemagazine.com/wp-content/uploads/2012/09/person-of-interest-2-c-75x75.jpg" class="img-circle">
              </a>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div>
          <hr class="bs-docs-separator">
          <div style="height: 75px" id="activity_feed_item">
            <p>
              <a href="#">
                <img align="left" src="http://www.medialifemagazine.com/wp-content/uploads/2012/09/nashville-c1-75x75.jpg" class="img-circle">
              </a>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            <hr class="bs-docs-separator">
          </div>
        </div>
        <div class="span3">
          <div class="well">
            <!-- <div clas="well"> -->
              <h2>Interests</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p>
            <!-- </div> -->
          </div>
          <div class="well">
            <h2>Occasions</h2>
            <ul>
                <% @occasions.each do |occasion| %>
                  <li> <%= link_to "#{occasion.name}", occasion_path(:occasion => occasion.id) %></li>
                <% end %>
            </ul>
          </div>
          <div class="well">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
          </div>
       </div>

        <div class="span3">
          <div class="well">
            <h2>Events</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
          </div>
          <div class="well">
            <h2>Discussions</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
          </div>
          <div class="well">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>
          </div>
       </div>
      </div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to Voice.</h1>
		<h2>
			This is the home page for the
			<a href="http://voice.com/">Voice Community</a>
			.
	    </h2>
	    <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
       <%= link_to "Sign in with Facebook", "/auth/facebook", :id => "sign_in" %>
	  </div>
<% end %>
