
         <h2><%= @occasion.name %></h2>
         <table>
              <p>Description: <%= @occasion.description %></p>
              <p>Time: <%= @occasion.time %></p>
              <% if @occasion.creator_id == current_user.id %>
                <%= link_to "Edit", occasion_edit_path(:occasion => @occasion.id), :class=> 'btn btn-mini' %>
            <% end %>
          </table>